@{
    ViewBag.Title = "Home Page";
}

<!-- Home -->
<div class="home">
    <div class="home-content">
        <img class="logo" src="~/Content/css/img/Logo.png" alt="جامعةالمنوفية">
        <h1 class="home-title">كلية الحاسابات والمعلومات</h1>
        <h2 class="home-title">موقع تسجيل الدراسات العليا</h2>
        <p class="home-des">
            موقع تسجيل مسارات الدراسات العليا بكلية الحاسبات والمعلومات  بجامعة المنوفية
            للحصول على درجات الماجيستير و الدكتوراة
        </p>
        <button class="home-btn" onclick="window.location.href='Home/Terms'">الشروط والتفاصيل</button>
    </div>
</div>
<div class="cut"></div>

<!-- Contact Us -->
<div class="contact">
    <div class="container">
        <h2 class="contact-title"> تواصل معنا</h2>
        <form action="">
            <div class="form-input">
                <input type="text" placeholder="Your Name">
                <input type="email" placeholder="Your Email">
            </div>
            <input type="text" class="sub" placeholder="The Subject">
            <textarea cols="30" rows="10" placeholder="Your Message"></textarea>
            <input type="submit" value="ارسال">
        </form>
    </div>
</div>