<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>الشروط والتفاصيل</title>
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="shortcut icon" href="~/Content/css/img/icon.png">
</head>
<body>
  
  <div class="cut"></div>
    <!-- Terms -->
    <div class="main">
        <div class="contain">
            <h1>درجة الماجستير</h1>
            <br>
            <h2>:يشترط في من يتقدم لنيل درجة الماجستير</h2>
            <br>
            <br>
            <p class="info">
                .موافقة مجلس القسم المختص ومجلس الكلية على القيد و استكمال المستندات المطلوبة من الدراسات العليا <br>
                .يجوز لمجلس القسم المختص ان يضيف شروطا اخرى مثل اجراء امتحان شفهي او تحريري
                <br>
                ان يكون الطالب حاصلا على درجة البكالوريوس في الحاسبات والمعلومات او هندسة الحاسبات او ما يعادلها بتقدير جيد على الاقل او ما يعادلها من نقاط ويجوز الاستثناء من شرط التقدير اذا كان الطالب حاصلا على دبلوم الدراسات العليا في نفس التخصص بتقدير جيد على الاقل وكذالك خريجي الكليات والمعاهد المعادلة لبكالوريوس الحاسبات و المعلومات المعترف بها من المجلس الاعلى للجامعات المصرية بتقدير عام جيد على الاقل
                <br>
                <br>
                يعقد امتحان قبول للمتقدمين يحدده مجلس القسم المختص ويكون الامتحان تحريريا او شفهيا من لجنة مشكلة من مجلس القسم المختص
                <br>
                تشكل لجنة من القسم لدراسة أوراق الطالب الحاصل على البكالوريوس المعادلة من المجلس الاعلى للجامعات وقد تحدد اللجنة امكانية دراسة مقررات مكملة للطالب من عدمه و في حالة قرار اللجنة دراسة 3 مقررات على الاكثر يمكن ان يقيد الطالب لنيل  درجة الماجستير مع دراسة هذه المقررات ولا تحتسب هذه الساعات ضمن الساعات المطلوبة للدراسة ويمكن للقسم ان يقرر تاجيل التسجيل لحين الانتهاء من دراسة المقررات المطلوبة
                
                <br>
                <br>
                
    .تقدم طلبات القيد من 15 اغسطس ولمدة اسبوعين (دورة اكتوبر) ومن 15 يناير ولمدة اسبوعين (دورة فبراير)
    <br>
    مجالات الدراسة يمنح مجلس جامعة المنوفية بناء على اقتراح مجلس الكلية درجة الماجستير في الحاسبات والمعلومات وذلك في احد التخصصات التي تطرحها الاقسام العملية بالكلية وهي
    <br>

                علوم الحاسب

                <br>
                نظم المعلومات <br>
                
                تكنولوجيا المعلومات
                <br>
                بحوث العمليات ونظم دعم القرار
                <br>
                <br>
                </p>

                <h2>:الاوراق المطلوبة </h2>
                <br>
                <br>
                <p class="info">
                                        
                    .اصل وصورة شهادة الميلاد كمبيوتر
                    <br>

                    .اصل وصورة شهادة البكالوريوس او الدرجة العلمية الجامعية المعادلة
                    <br>

                    .اصل وصورة من بيان بتقديرات جميع سنوات الدراسة لمرحلة البكالوريوس
                    <br>

                    .موافقة جهة العمل على الدراسة للمتقدمين العاملين بالحكومة او قطاعي الاعمال العام والخاص اما الذين لا يعملون فيتقدمون باقرار يفيد انتظامهم بالدراسة
                    <br>

                    .عدد 6 صور شخصية
                    <br>

                    .اصل وصورة الموقف من التجنيد
                    <br>

                    .استيفاء الاستمارات الموجودة بمظروف التقديم بادارة الدراسات العليا بالكلية
                    <br>

                    .ايصال تسديد الرسوم الدراسية المقررة
                    <br>

                    .عدد 2 صورة بطاقة الرقم القومي
                    <br>

                    .اقرار من الطالب بانه غير مقيد بالدراسات العليا لاي دجة جامعية اخرى سواء في نفس الكلية او في كلية اخرى
                    <br>

                    .اقرار بمحل الاقامة و البريد الالكتروني المستخدم والتعهد بابلاغ الكلية اذا تم تغيير اي  منهما
                    <br>

                    .عدد 2 ملف بلاستيك لحفظ المستندات
                    <br>

                    .تسجيل البيانات وطباعة التقرير على الموقع الالكتروني


                </p>
                <br>
                <br>
                <br>
                <br>
                <br>

        </div>
    </div>

    
</body>
</html>